target/
*.iml
.idea
.classpath
.project
.settings
.DS_Store
.gradle
build/
examples/single-module-nodejs/node_modules
examples/single-module-nodejs/reports
examples/single-module-nodejs/package-lock.json
